/* Global CSS Page Styling */

/* adds font src */
@font-face {
    font-family: 'PPHatton-Ultralight';
    src: url('fonts/PPHatton-Ultralight.otf') format('opentype');
}


body {
    /* Adding Custom Font*/
    font-family: 'PPHatton-Ultralight';
    /* Adds custom background */
    background-image: url('img/Capstone-bg-BG-long.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Other styling */
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}


h1 {
    font-family: 'PPHatton-Ultralight';
    font-weight: 100;
    color: white;
}

h2 {
    font-family: 'PPHatton-UltralightItalic';
    font-weight: 100;
    font-size: 2rem;
    color: white;
}

h4,
h5 {
    color: white;
}
.heading h2, h1 {
    line-height: 3rem;
    line-height: 1.2rem;
}


.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Styling */
.form {
    border-radius: 5px;
    color: white;
    margin-top: 2.5rem;
}


.form input[type="button"],
.button {
    display: block;
    font-family: 'PPHatton-Ultralight';
    margin: 10px auto;
    text-decoration: none;
    padding: 5px 20px;
    max-width: 150px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
    text-align: center;
}

.form select {
    font-family: initial;
    font-family: 'PPHatton-Ultralight';
    /* Adds font family again since font reset was needed for styles to apply*/
    margin: 10px 0;
    padding: 10px;
    width: 180px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    text-align: center;
}

/* Placeholder text style */
.form input::placeholder,
.form select::placeholder {
    font-family: 'PPHatton-Ultralight';
    color: white;
    text-align: center;
}

/**** content.html styling ****/


.mainContainer {
    width: 70vw;
}

.mainContainer a {
    color: white;
    font-size: 0.7rem;
}

.image img {
    width: 300px;
    margin-bottom: 60px;
}

.imgData p {
    color: white;
    line-height: 2rem;
}



.addFavouriteIcon img {
    height: 25px;
}

.remove {
    text-decoration: underline;
    color: white;
    background: none;
    border: none;
}

/* styling for footer icons */
footer {
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footerIcons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 85%;
}

.footerIcons img {
    height: 20px;
    /* Preventing icon image stretch */
    object-fit: contain;
}

/**** zoom.html styling ****/
.imageZoom img {
    width: 800px;
}

.closeIcon img {
    width: 20px;
}

.save {
    width: 30px;
}

/**** favourites.html styling ****/
.imgGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 60vw;

}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.fill img {
    min-width: 300px;
    min-height: 100%;
    object-fit:cover;
}

.collectionTitle {
    margin-bottom: 50px; 
    position: relative;   
}

.imgGrid img {
    width: 100%;
    max-height: 120px;
}



.footerHomeIcon {
    align-items: center;
    margin: 0 auto;
}


.footerHomeIcon img {
    height: 20px;
    /* Preventing icon image stretch */
    object-fit: contain;
}

/****************** MEDIA QUERY FOR TABLET ******************/
/****************** MEDIA QUERY FOR TABLET ******************/
/****************** MEDIA QUERY FOR TABLET ******************/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /**** index.html styling ****/
    h1 {
        font-size: 3.5rem;
        line-height: 3.3rem;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 3.3rem;
    }



    .form select {
        width: 150px;
        margin: 0 10px;
    }

    form,
    .form input[type="button"],
    .button {
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    /**** content.html styling ****/
    .mainContainer {
        display: grid;
        grid-template-rows: 4fr auto;
        grid-template-columns: 1fr auto;
        gap: 10px;
    }

    /* modifying layout to grid as per mockup */
    .addFavouriteIcon {
        grid-row: 3;

    }

    #removeButton {
        grid-row: 4;

    }

    .imgData {
        grid-row: 2;
        font-size: 1.2rem;
    }

    .addFavouriteIcon img {
        width: auto;
        height: auto;
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .image img {
        width: 500px;
    }

    .footerIcons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 85%;
    }

    .footerIcons img {
        height: 20px;
    }

    /**** zoom.html styling ****/

    .imageZoom img {
        width: 800px;
    }

    .closeIcon img {
        width: 20px;
    }

    /**** favourite.html styling ****/
    .imgGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 15px;
        width: 80vw;
    }

    .collectionTitle {
        margin-bottom: 50px; 
        position: relative;   
    }

    .imgGrid img {
        width: 100%;
        min-height: 200px;
    }

    .footerHomeIcon img {
        height: 25px;
    }
}

/****************** MEDIA QUERY FOR WEB ******************/
/****************** MEDIA QUERY FOR WEB ******************/
/****************** MEDIA QUERY FOR WEB ******************/
@media screen and (min-width: 1024px) {

    /**** index.html styling ****/
    h1 {
        font-size: 4rem;
        line-height: 4.2rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 4.2rem;
    }

    h4 {
        color: white;
        font-size: 1.2rem;
    }
    
    h5 {
        color: white;
        font-size: 0.7rem;
    }

    .form select {
        font-size: 1.5rem;
        width: 140px;
        margin: 0 10px;
    }

    form,
    .form input[type="button"],
    .button {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    /**** content.html styling ****/
    .mainContainer {
        display: grid;
        grid-template-rows: 3fr ;
        grid-template-columns: 2fr auto;
        gap: 10px;
        min-height: 600px;
        margin: auto 0;
        align-items: center;
    }

  

    /* modifying layout to grid as per mockup */
    .addFavouriteIcon {
        grid-row: 1;
        grid-column: 4;
        /* display: flex;
        justify-content: flex-end; */
    }

    .imgData {
        grid-row: 1;
        grid-column: 1;
        font-size: 1.2rem;
        display: grid;
        margin-right: 50px;
        max-height: 300px;
        height: 100%;
    }

    .imgData p {
        font-size: 0.6em;
        line-height: normal;
        text-align: center;
    }

.title h4 {
        line-height: normal;
        margin: 0px;
    }

    .image img {
        width: 500px;
    }

    /**** zoom.html styling ****/
    .imageZoom img {
        max-height: 900px;
    }

    .closeIcon {
        position: fixed;
        text-align: left;
    }
    
    .closeIcon img {
        width: 20px;
    }


    /**** favourite.html styling ****/
    .imgGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 15px;
        gap: 20px;
        max-width: 70vw;

    }

    .collectionTitle {
        margin-bottom: 50px; 
        position: relative;   
    }

    .bottomTitle {
        font-size: 3rem;
    }

    .footerHomeIcon img {
        height: 25px;
    }
}